@media screen and (max-width: 1000px) {
  body {
    width: 90%;
    text-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 !important;
  }

  .custom-header {
    width: 90%;
    text-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
  }
}
