body {
  overflow: scroll;
  width: 1440px;
  margin: auto !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common css */

.img-width {
  width: 3%;
}

.img-wd-30 {
  width: 30%;
}

.w-60 {
  width: 60% !important;
}

.position {
  position: relative;
  right: 50%;
  top: 25%;
}

.cursor-pointer {
  cursor: pointer;
}

.border-violet {
  border-color: #8064a2;
}

.bg-violet {
  background-color: #8064a2 !important;
}

.bg-fade-violet {
  background-color: #ccc1da;
}

.bg-light-violet {
  background-color: #f7f5f9;
}

.text-custom-blue {
  color: #0096c8;
}

.text-custom-violet {
  color: #8064a2;
}

.bg-gray {
  background-color: #f7f5f9;
}

.bg-light-blue {
  background-color: #f7fdff;
}

.border-light-gray {
  border-color: #f7f5f9;
}

.fs-14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.w-525 {
  width: 525px;
}

p,
a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  font-style: normal;
}

input {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

/* .poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
} */

/*common css  end*/

/* header */

header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: sticky !important;
  top: 0 !important;
  /* overflow: hidden; */
  z-index: 999;
}

.custom-header {
  max-width: 1440px;
  height: 80px;
  padding: 10px 0;
  background-color: #fff;
}

.search-bar {
  max-width: 300px;
  height: 40px;
  margin: 0px 90px 0px 35px;
}
.search-bar .inpt {
  width: 259px;
  border: 1px solid #ebedf0;
  padding: 0 169px 0 7px;
  border-radius: 8px;
}
.search-bar .inpt input {
  padding: 7px;
  width: 300%;
  color: #939ca3;
}

.search-bar button {
  width: 40px;
  height: 40px;
  background: #8064a2;
  border: 0;
  border-radius: 8px;
}

.search-bar button img {
  padding: 12px;
}

.Sign-in-header-btn {
  text-align: center;
  width: 112px;
  height: 40px;
  border: 1px solid #8064a2;
  border-radius: 8px;
  padding: 10px, 32px, 14px, 32px;
  color: #8064a2;
}

.explore {
  width: 107px;
}
.explore h6 {
  padding: 1px 4px;
}
.dropdown .dropdown-menu {
  padding: 0;
  top: 26px !important;
  border-radius: 0;
}
.dropdown .dropdown-menu li {
  width: 220px;
  height: 42px;
  gap: 10px;
  border-bottom: 1px solid lightgray;
}
.dropdown .dropdown-menu li a {
  padding: 9px 40px 9px 9px;
}

.hobbies {
  width: 114px;
}
.hobbies h6 {
  padding: 2px 4px;
}

/* header end */

/* hero section */

.nav-link {
  color: #939ca3 !important;
}

.active {
  color: #8064a2 !important;
}

/* hero section end */

/* sub section  */

.violet:hover {
  background-color: #8064a2;
  color: #fff;
}
.violet:hover .Sign-in-header-btn {
  color: #fff;
  border-color: #fff;
}

.green:hover {
  background-color: #77933c;
  color: #fff;
}
.green:hover .Sign-in-header-btn {
  color: #fff;
  border-color: #fff;
}

.red:hover {
  background-color: #c0504d;
  color: #fff;
}
.red:hover .Sign-in-header-btn {
  color: #fff;
  border-color: #fff;
}

.blue:hover {
  background-color: #0096c8;
  color: #fff;
}
.blue:hover .Sign-in-header-btn {
  color: #fff;
  border-color: #fff;
}

.img-2 {
  display: none;
}

.violet:hover .img-1,
.blue:hover .img-1,
.red:hover .img-1,
.green:hover .img-1 {
  display: none;
}

.violet:hover .img-2,
.blue:hover .img-2,
.red:hover .img-2,
.green:hover .img-2 {
  display: block;
}

/* audio */
.audio-container {
  display: flex;
  align-items: center;
  width: 70%;
}

.custom-controls {
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
}

.play-btn {
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.progress-bar {
  flex: 1;
  margin: 0 10px;
  color: #8064a2;
}

.current-time {
  color: #8064a2 !important; /* Time color */
}

/* sub section  end*/
